@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
html{
    font-size: 16px;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(https://images.unsplash.com/photo-1584757283930-246cb931242b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
}
.hide{
    display: none;
     font-family: 'Cantora One', sans-serif;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
    height: 60px;

    margin: 0 auto;

    background-color: rgba(73, 72, 72, 0.692);
}
/* -------- LOGO -------- */
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img{
    width: 60px;
    animation: rotate 10 ease-in-out;

}
@keyframes rotate{
    0%{
        font-size: small;
    }
    50%{
        font-size: larger;
    }
}
.logo p {
    font-weight: bold;
    color: tomato;
}
/* -------- NAV -------- */
nav{
border-radius: 5px;
    
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li:last-child{
    padding-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(247, 11, 70);
    padding: 10px;
}
nav ul li a:hover{
    border-bottom:1px solid #FFF;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}
/* -------- BG IMAGE -------- */
.stats{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('https://images.unsplash.com/photo-1583324113626-70df0f4deaab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}
/* -------- LATEST REPORT -------- */
.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    color: #FFF;
}

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
}

.name{
    font-size: 2.2em;
    color:rgb(243, 12, 108);
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 1.3em;
}
.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #f44336;
}
.new-value{
    font-size: 1.3em;
}

/* -------- CHART -------- */
.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}
/* -------- SEARCH COUNTRY -------- */
.search-country{
    position: relative;
    top: 10px;
}
.search-box{
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    height: 30px;

    background-color: #111;

    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;

    border: none;

    background-color: transparent;
    color: #FFF;

    padding-left: 15px;

    font-size: 1.1em;
}
.search-box img{
    width: 50px;
    padding-right: 5px;
    cursor: pointer;
}

.country-list{
    display: flex;

    position: absolute;
    top: 30px;

    width: 400px;
    height: 300px;

    background-color: #111;
    opacity: 0.9;

    overflow-y: scroll;
}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}
.country-list ul li:hover{
    border-left: 2px solid rgb(6, 250, 230);
    color: #f112d4;
}
/* SCROLL BAR */
.country-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: rgb(163, 52, 52);
  }
  
  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: tomato;
  }
/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */
footer{
    max-width: 1200px;
    height: 60px;
    font-family: 'Pacifico', cursive;

    margin: 0 auto;
    background-color: rgba(128, 126, 126, 0.712);
}

.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Pacifico', cursive;
}

.copyright p{
    color:black;
}
/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */
@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

i{
    color: tomato;
}